<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Rental Mobil</title>

    <!-- Custom CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link rel="shortcut icon" href="static/img/mobil.png" type="image/x-icon"/>
    <link rel="stylesheet" href="static/css/base.css" />
    <link rel="stylesheet" href="static/css/style.css" />
  </head>

  <body>
    <div class="dashboard__row dashboard">

      <aside class="dashboard__aside p-0 darkBlue04">
        <nav class="p-0">
          <div class="aside__nav-item d-flex flex-column align-items-center justify-content-center">
            <img src="static/img/Rectangle63.png" alt="Logo" style="width: 34px !important;"/>
          </div>
          <div class="aside__nav-item d-flex flex-column align-items-center justify-content-center">
            <img src="static/img/icon-home.svg" alt="icon-bar" class="aside__nav-icon"/>
            <p class="text-white fw-light">Board</p>
          </div>

          <div class="aside__nav-item aside-active d-flex flex-column align-items-center justify-content-center">
            <img src="static/img/icon-car.svg" alt="icon-bar" class="aside__nav-icon"/>
            <p class="text-white fw-bold">Cars</p>
          </div>
        </nav>
      </aside>

      <main class="dashboard__main bg-warning">
        <!-- Nav -->
        <nav class="nav-height navbar navbar-expand-lg navbar-light bg-light shadow-sm">
          <div class="container-fluid">
            <img src="static/img/Rectangle62.png" alt="text-bar"  style="width: 100px !important; margin-right: 90px !important;">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="fa-solid fa-bars"></i>
                  </a>
                </li>
              </ul>
              <form class="d-flex me-3 mb-0">
                <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon" />
                <button type="button" class="btn btn-outline-primary">search</button>
              </form>
              <div class="nav__profil d-flex align-items-center">
                <div class="nav__profil-img rounded-circle bg-primary d-flex justify-content-center align-items-center me-2">
                  <img src="static/img/Rectangle63.png" class="circle" alt="pic user"/>
                </div>
                <p class="fs-5">md-sa</p>
                <img src="static/img/icon--arrow.svg" alt="Arrow Icons" style="width: 35px;"/>
              </div>
            </div>
          </div>
        </nav>

        <div class="dashboard__main-container row neutral01">
          <div class="col-md-2 d-flex flex-column">
            <a href="/" class="fw-bold pt-3 pb-3 list-active">CARS</a>
            <a href="/" class="fw-bold pt-3 pb-3">LIST</a>
          </div>

          <div class="dashboard__main-content neutral02 col-md-10 p-3">
            <div class="path mb-4">
              <a href="/" class="fw-bold">Cars</a><i class="fa-solid fa-chevron-right"></i>
              <a href="/" class="fw-bold">List Cars</a><i class="fa-solid fa-chevron-right"></i>
              <a href="/" class="fw-normal">Edit Car</a>
            </div>

            <div class="dashboard__list d-flex justify-content-between align-items-center mb-4 mb-md-3">
              <h3 class="fw-bolder">Edit Car</h3>
            </div>

            <div class="dashboard__form">
              <form action="api/update/{{id}}" method="post" class="neutral01 py-4">
                <div class="container-fluid mb-4">
                  <div class="row">
                    <label for="name" class="col-md-3">Nama</label>
                    <input type="text" class="col-md-9 form-control form-width" name="name" id="name" autocomplete="off" value="{{name}}" />
                  </div>
                </div>

                <div class="container-fluid mb-4">
                  <div class="row">
                    <label for="price" class="col-md-3">Sewa Per Hari</label>
                    <input type="number" class="col-md-9 form-control form-width" name="price" id="price" autocomplete="off" value="{{price}}"/>
                  </div>
                </div>

                <div class="container-fluid mb-4">
                  <div class="row">
                    <label for="size" class="col-md-3">Ukuran</label>
                    <select name="size" id="size" class="form-select form-width fw-normal">
                      <option value="small" class="fw-normal" {{selected size "small"}}>Small</option>
                      <option value="medium" class="fw-normal" {{selected size "medium"}}>Medium</option>
                      <option value="large" class="fw-normal" {{selected size "large"}}>Large</option>
                    </select>
                  </div>
                </div>

                <div class="container-fluid mb-4">
                  <div class="row">
                    <label for="foto" class="col-md-3">Foto</label>
                    <div class="col-md-9 p-0">
                      <div class="input-group form-width">
                        <input type="text" class="form-control" name="picture" id="picture" autocomplete="off" value="{{picture}}"
                        />
                        <p class="input-group-text">@</p>
                      </div>
                      <small id="emailHelp" class="form-text text-muted">masukan link url gambar</small>
                    </div>
                  </div>
                </div>

                <div class="container-fluid mb-4">

                  <div class="d-flex">
                    <a href="/" class="btn btn-primary-outline me-4">Cancel</a>
                    <button class="btn btn-primary" type="submit">Save</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </main>

      {{#if message}}
        <div class="notif notif--active opacity notif--transform d-flex justify-content-between align-items-start bg-dark text-light py-2 px-3 rounded-3 ">
          <div class="notif__msg">
                {{#each message}}
                  <p class="mb-2 mt-2"> {{this}} </p>
                {{/each}}
          </div>
          <div class="notif__close text-light"><i class="fa-solid fa-xmark"></i></div>
        </div>
      {{/if}}
    </div>
  </body>
  <!-- BS Scripts -->
  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"
  >
  </script>
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
    integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer"
  ></script>

  <!-- Custom Scripts -->
  <script src="static/js/ui_form.js"></script>

</html>